@model IEnumerable<AgendaDeContatos.Models.Contato>

@{
    ViewData["Title"] = "Minha Agenda de Contatos";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        <h4>@TempData["Mensagem"]</h4>
    </div>
}

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="fa fa-plus"></span> Adicionar Contato</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id" title="Ver detalhes">
                    <span class="fa fa-search"></span>
                </a>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id" title="Editar contato">
                    <span class="fa fa-pencil-alt"></span>
                </a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" title="Excluir contato">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>}
    </tbody>
</table>
